@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
.
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	background-color: #20B2B2;
}
nav{
	flex: 1;
	text-align: right;
	justify-content: space-around;
	align-items: left;
	min-height: 8vh;
	font-family: helvetica;
	background-color: #057171;


}
.contact{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #759C9C;
	background-size: cover;
}
.contact .content{
	max-width: 800px;
	text-align: center;

}
.contact .content h2{
	font-size: 36px;
	font-weight: 500;
	color: black;
}
.contact .content p{
	font-weight: 500;
	color: black;
	font-size: 22px;
	font-family: calibri;


}
.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;

}
.container .contactinfo{
	width: 50%;
	display: flex;
	flex-direction: column;

}
.container .contactinfo .box{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.container .contactinfo .box .icon{
	min-width: 60px;
	height: 60px;
	background:  #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px; 
}
.container .contactinfo .box .text{
	display: flex;
	margin-left: 20px;
	font-size: 22px;
	flex-direction: column;
	font-weight: 300;
}

.container .contactinfo .box .text h3{
	font-weight: bold;
	color: #fff;
	background-size: 20px; 
}
.contatform{
	width: 40%;
	padding: 40px;
	background: #fff;
}
.contactform h2{
	font-size: 30px;
	color: black;
	font-weight: 500;	

}
.contactform .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactform .inputBox input,
.contactform .inputBox textarea
{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
}
.contactform .inputBox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}
.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span
.inputBox .inputBox input:focus ~ span,
.inputBox .inputBox input:valid ~ span{
	color: #084E3E;
	font-size: 12px;
	transform: translateY(-20px);

}
.contactform .inputBox button[type="submit"]{
	width: 100px;
	background: #00bcd4;
	color: #fff;
	cursor: pointer;
	border: none;
	padding: 10px;
	font-size: 18px;

}
.submit_btn{
	width: 100%;
	background: #ebd0ce;
	padding: 10px;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
}
span{
	font-size: 8px;
	font-weight: bold;
	background-color: white;
}
	

	

.submit_btn:hover{
	background: blue;
}
@media(max-width: 991px){
	.contact{
		padding: 50px;

	}
	.container{
		flex-direction: column;
	}
	.container .contactinfo{
		margin-bottom: 40px;
	}
	.container .contactinfo,
	.contactform{
		width: 100%;
	}
}
